---
import type { PostViewModel } from "../lib/wp";

const { post } = Astro.props as {
  post: PostViewModel;
};
---

<article class="card border border-accent/10">
  <figure class="w-full h-full">
    <img
      src={post.featuredImage?.url}
      alt={post.title}
      class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-110 hover:brightness-95"
    />
  </figure>
  <div class="card-body justify-end items-center p-6 md:p-12 text-center">
    <div class="max-w-4xl mx-auto">
      <h2
        class="card-title text-center text-3xl md:text-6xl font-extrabold text-white mb-6 tracking-tight leading-tight justify-center"
      >
        <a
          href={`/articulos/${post.slug}`}
          class="hover:text-primary transition-colors"
        >
          {post.title}
        </a>
      </h2>
      <div
        class="text-gray-200 text-sm md:text-xl line-clamp-2 md:line-clamp-3 font-medium opacity-90 mx-auto"
        set:html={post.excerptHtml}
      />
    </div>
  </div>
</article>
